<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <search>
        <processor type="Sitecore.Support.ContentSearch.Client.Pipelines.Search.SearchContentSearchIndex, Sitecore.Support.95016" patch:instead="processor[@type='Sitecore.ContentSearch.Client.Pipelines.Search.SearchContentSearchIndex, Sitecore.ContentSearch.Client']" />
      </search>
    </pipelines>
  </sitecore>
</configuration>